html {
  background: url("../img/html_background.png") repeat center center;
  font-family: 'Open Sans', sans-serif;
}
.container {
  width: 397px;
  height: 488px;
  margin: 0 auto;
  background: url("../img/tiled_background.png") repeat center center;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -178px;
  margin-top: -226px;
  border: solid 1px black;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.2);
}
.container .list_container {
  width: 356px;
  height: 452px;
  left: 50%;
  top: 50%;
  margin: 0 auto;
  margin-left: -178px;
  margin-top: -226px;
  position: absolute;
  background: white;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.2);
}
.container .list_container .todo_container {
  position: absolute;
  width: 300px;
  height: 350px;
  left: 50%;
  top: 50%;
  margin: 0 auto;
  margin-left: -150px;
  margin-top: -175px;
  background: white;
  overflow-y: scroll;
}
.container .list_container .todo_container h2 {
  text-align: center;
  color: #545556;
}
.container .list_container .todo_container #todo-list {
  border-bottom: 5px;
  list-style: none;
}
.container .list_container .todo_container #todo-list ._input {
  width: 50%;
  border: none;
}
.container .list_container .todo_container #todo-list ._list-add {
  background: url("/static/img/add_button.png") no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
  border: none;
  float: right;
  margin-right: 25px;
}
.container .list_container .todo_container .todo-item {
  margin-top: 10px;
  margin-bottom: 10px;
}
.container .list_container .todo_container .todo-item input[type=checkbox] {
  visibility: hidden;
}
.container .list_container .todo_container .todo-item img {
  width: 20px;
  height: 20px;
}
